/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;700&display=swap');

.body {
  height: 750px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.capsule-icon {
  margin: 0 auto;
  height: 750px;
  width: 1200px;
}
.casule_content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.slash_text_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
  flex-wrap: nowrap;
}
.slash {
  width: 6px;
  height: 48px;
  background: #ffbf37;
}
.capsule {
  margin-top: 85px;
  margin-left: 150px;
}
.fade-off {
  opacity: 0.1;
  transition: 0.5s all;
}

.remove-from-site {
  display: none;
}
.show-on-site {
  transition: all 0.5s;
  animation: fadeinout 0.3s linear;
}
.broken-capsule {
  position: relative;
  margin: 0 auto;
  height: 750px;
  width: 1200px;
}
.broken-capsule-item {
  position: absolute;
  left: 264px;
  top: 100px;
}
.broken-capsule_image {
  width: 622.29px;
  height: 622.29px;
}
.text_wrap {
  width: 0px;
  overflow: hidden;
}
.text_wrap_show {
  width: 500px;
  transition: all 1s;
}
.capsule_title_text {
  color: #010101;
  font-family: 'Work Sans';
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
  white-space: nowrap;
}
@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.items_blocks_wrapper {
  margin-top: 50px;
  height: 100%;
}
.block_wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}
.block_item {
  position: relative;
  width: 345px;
  border-radius: 10px;
  background: #f0f0f0;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  min-height: 190px;
  height: 190px;
  overflow: hidden;
  transition: all 0.3s;
}
.fst {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-7.184deg);
}
.snd {
  position: absolute;
  top: 200px;
  left: 0px;
  transform: rotate(9.8deg);
}
.trd {
  position: absolute;
  top: 400px;
  left: 0px;
  transform: rotate(-4.405deg);
}

.fst_r {
  position: absolute;
  top: 0;
  right: 0px;
  transform: rotate(9.8deg);
}
.snd_r {
  position: absolute;
  top: 200px;
  right: 0px;
  transform: rotate(-4.405deg);
}
.trd_r {
  position: absolute;
  top: 400px;
  right: 0px;
  transform: rotate(-7.184deg);
}
.block_item_picture {
  margin-top: 32px;
  filter: blur(0px);
  backdrop-filter: blur(1.5px);
  width: 300px;
  height: 120px;
}
.block_item_text {
  background: #ffbf37;
  width: 244px;
  color: #010101;
  font-family: 'Work Sans';
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  padding: 10px;
  margin-block-start: 0;
  margin-block-end: 0;
  right: 0;
  top: 93px;
}
.hover_to_read {
  color: #010101;
  font-family: 'Work Sans';
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 170px;
}
.appear_text {
  color: #010101;
  font-family: 'Work Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 30px;
}

.block_item:hover {
  height: 333px;
  transition: all 0.3s;
  z-index: 5;
  box-shadow: 3px 7px 17px 0px rgba(0, 0, 0, 0.1), 12px 29px 31px 0px rgba(0, 0, 0, 0.09),
    27px 65px 42px 0px rgba(0, 0, 0, 0.05), 48px 115px 50px 0px rgba(0, 0, 0, 0.01),
    75px 179px 55px 0px rgba(0, 0, 0, 0);
}
.block_item:hover .hover_to_read {
  display: none;
}
.pc_remove {
  display: none;
}
@media (max-width: 1300px) {
  .broken-capsule_image {
    width: 500px;
    height: 500px;
  }
  .broken-capsule-item {
    left: 320px;
    top: 150px;
  }
  .fst,
  .snd,
  .trd {
    left: 20px;
  }
  .fst_r,
  .snd_r,
  .trd_r {
    right: 20px;
  }
  .capsule-icon {
    max-width: 1200px;
    width: 100%;
  }
}
@media (max-width: 1170px) {
  .remove-from-site {
    display: block;
  }
  .mob_remove {
    display: none;
  }
  .broken-capsule-item {
    display: none;
  }
  .text_wrap {
    width: auto;
  }
  .fst,
  .snd,
  .trd {
    left: 40px;
  }
  .fst_r,
  .snd_r,
  .trd_r {
    right: 40px;
  }
  .pc_remove {
    display: block;
  }
}
@media (max-width: 830px) {
  .block_item {
    width: 300px;
  }
  .block_item_picture {
    width: 252px;
  }
  .block_item_text {
    width: 210px;
    font-size: 18px;
  }
  .hover_to_read {
    font-size: 14px;
  }
  .appear_text {
    font-size: 16px;
  }
}
@media (max-width: 740px) {
  .fst,
  .snd,
  .trd {
    left: 20px;
  }
  .fst_r,
  .snd_r,
  .trd_r {
    right: 20px;
  }
}
@media (max-width: 700px) {
  .items_blocks_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .block_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .fst,
  .snd,
  .trd {
    position: static;
  }
  .fst_r,
  .snd_r,
  .trd_r {
    position: static;
  }
  .fst {
    transform: rotate(-3.18deg);
  }
  .snd {
    transform: rotate(2.8deg);
  }
  .trd {
    transform: rotate(-3.41deg);
  }

  .fst_r {
    transform: rotate(2.8deg);
  }
  .snd_r {
    transform: rotate(-1.41deg);
  }
  .trd_r {
    transform: rotate(2.82deg);
  }
}
@media (max-width: 512px) {
  .slash_text_wrapper {
    gap: 10px;
    padding-left: 20px;
  }
  .slash {
    height: 52px;
  }
  .text_wrap {
    width: 150px;
  }
  .capsule_title_text {
    white-space: wrap;
    font-size: 22px;
  }
} */
